<nav class="navbar navbar-expand-lg  fixed-top" style="background-color: rgba(0, 0, 0, 0.7);">
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    
      
        <div style="padding-right: 0em ;float: left;margin-right: 30em; margin-left: 8em; border-radius: 15px 15px;">
            <div id="titulo" style="height: 50px;width: 250px;margin-top: 10px;padding:1em; padding-left: 2.3em;"></div>
          </div>

          <div mat-card-avatar class="example-header-image" style="float: right; margin-left: 380px;">
            <span class="material-icons" style="font-size: 50px; color: rgba(255, 255, 255);">account_circle</span>
          </div>
         
  
  </nav>

<!-- Button trigger modal -->

<!--
<button type="button" class="btn btn-primary float-left m-2" data-toggle="modal" 
    data-target="#exampleModal" (click)="addClick()">
    <mat-icon>add</mat-icon>
  </button>
-->



<br><br><br><br>


<button mat-raised-button style="color: white;background-color: #18ce0e; float: left;"
data-toggle="modal" 
data-target="#exampleModal"
(click)="addClick()"><mat-icon>add</mat-icon> Novo Contato</button>






  <!--Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-edit [cli]="cli" *ngIf="ActivateAddEditComp"></app-add-edit>
        </div>
      </div>
    </div>
  </div>

<!--
  
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Numero</th>
            <th>Email</th>
            <th>Favorito</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of ContatoList">
            <td>{{dataItem.Nome}}</td>
            <td>{{dataItem.Numero}}</td>
            <td>{{dataItem.Email}}</td>
            <td>{{dataItem.Favorito}}</td>
            <td>
              

                <button type="button" 
                        class="btn btn-light mr-1"
                        data-toggle="modal" 
                        data-target="#exampleModal" 
                        (click)="editClick(dataItem)">
                        <mat-icon>edit</mat-icon> 
                </button>
                
                <button type="button" 
                        class="btn btn-light mr-1"
                        (click)="deleteClick(dataItem.Id)"
                        style="margin-left: 10px;"> 
                        <mat-icon>delete</mat-icon>
                </button>

                <button type="button" 
                        class="btn btn-light mr-1"
                        style="margin-left: 10px;"> 
                        <mat-icon>search</mat-icon>
                </button>

              </td>
    
        </tr>
    </tbody>
</table>

-->

<br><br>
<hr style="border:1px solid rgb(138, 138, 138);">


<div *ngIf="ContatoList.length == 0" style="opacity: 0.5;;background: rgba(255, 255, 255, 0.8);padding: 11em 0 8em; text-align: center; vertical-align: middle;">
  <h1> Você ainda não possui contatos...</h1>
  <div id="badEmoticon"> </div>
</div>


<table class="d-flex flex-wrap mx-auto my-5 justify-content-center contact">
  <tr *ngFor="let dataItem of ContatoList">
<div style="padding: 0.5em;">
  <mat-card class="example-card" style="height: 100%; width: 250px; background-color: #ffffff;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <span class="material-icons" style="font-size: 50px; color: black;">account_circle</span>
      </div>
      <mat-card-title>{{dataItem.Nome}}</mat-card-title>
      <mat-card-subtitle>{{dataItem.Numero | mask: '(00) 00000-0000'}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-actions>
     <button mat-icon-button color="primary" (click)="editClick(dataItem)"
      data-toggle="modal" data-target="#exampleModal">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteClick(dataItem)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <!--<mat-icon>favorite</mat-icon> favorite_border-->
        <span class="material-icons" (click)="favoriteClick(dataItem)">
           <span *ngIf="!dataItem.Favorito">favorite_border</span>
           <span *ngIf="dataItem.Favorito">favorite</span>
          </span>
      </button>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
</tr>
</table>

<br>



