td,th {
    text-align: center;
    vertical-align: middle;
 }

 table{
     padding-bottom: 5em;
 }


  #titulo{
    background-image: url(../../../../images/contactmeNovoNovo.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
#badEmoticon{
    background-image: url(../../../../images/addContato.png);
    background-size: 100% 100%;
    margin-left: 37em;
    height: 70px;
    width: 70px;
}


:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
  stroke: #000000;
}


#email:hover {
  
  font-weight:500;
}