$bgNavBar : #011638;
$bgDefault : #E7E5DF;

$bgCard: #007bff;

$white : white;
$sizeBars : 3rem;
//Borda

$border: #6c757d;

*{
    &:not(i){ font-family: 'montserrat'; }
    font-size: 1rem;

}

.card{

    color: black;
    width: 18rem;
    border: 1px solid #6c757d;

    &[class*="card"]:hover{ 
        background-color: darken(#6c757d, 15%); 
        color:$white;
    }

    img:not(.flags){ border-radius: 35px; }
    
    .card-header{ background-color: inherit; border-color: transparent; }
    
    .card-body{
        padding: 0 1.25rem 1rem 0;
    }
}

.menu-bar{
    color: black!important;
    border: 1px solid $border; 
    border-radius: 10px; 
    width: calc(18.7rem * 4);
    height: $sizeBars;
    padding: 0 2rem;
}

.fs-smaller{
    font-size: smaller;
}

.cursor-hand{
    
    &:not(.ex,input){ background-color: $bgCard; } 
    
    color: black;
    height: 2rem;

    &:hover:not(.ex,input){ 
        background-color: transparent;
        color: $bgCard;
        cursor: pointer;

    }

}

.flags{
    height: 1.5rem;
}

.btn-contact{
    background-color: transparent;
    &:hover{
        color: #e63438!important;
        cursor: pointer;
    }
}


