td,th {
    text-align: center;     /* alinhamento horizontal */
    vertical-align: middle; /* alinhamento vertical */
 }

 table{
     padding-bottom: 5em;
 }


  #titulo{
    background-image: url(../../../../images/contactmeNovoNovo.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
#badEmoticon{
    background-image: url(../../../../images/tristeFace.png);
    background-size: 100% 100%;
    margin-left: 37em;
    height: 70px;
    width: 70px;
}

  