

<div class="row">
  <div class="col-md-12">
<!--<form enctype="multipart/form-data" (ngSubmit)="addCliente()" [formGroup]="clienteForm">-->
<form enctype="multipart/form-data"  [formGroup]="clienteForm">


    <div class="alert alert-danger" *ngIf="errors.length > 0">
        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>

    <div class="form-group">
        <label class="control-label" for="Nome">Nome</label>
        <input type="text" class="form-control" formControlName="nome" placeholder="Nome">
    </div>
    <!--<div class="form-group">
        <label class="control-label" for="Idade">Idade</label>
        <input type="number" class="form-control" formControlName="idade" placeholder="Idade">
    </div>
    <div class="form-group">
        <label class="control-label" for="Documento">Documento</label>
        <input type="text" class="form-control" formControlName="documento" placeholder="Documento">
    </div>-->
    <div class="form-group">
        <label class="control-label" for="Numero">Numero</label>
        <input type="text" class="form-control" formControlName="numero" placeholder="(  ) _____-____">
    </div>
    <div class="form-group">
        <label class="control-label" for="Email">Email</label>
        <input type="text" class="form-control" formControlName="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label class="control-label" for="favorito">Favorito</label>
            <input type="checkbox"  formControlName="favorito">
        
    </div>
    <div class="form-group" *ngIf="cli.Id==0" (click)="addCliente()">
        <input type="submit" value="Cadastrar" class="btn btn-primary">
    </div>
    <div class="form-group" *ngIf="cli.Id!=0" (click)="editCliente()">
        <input type="submit" value="Atualizar" class="btn btn-primary">
    </div>

</form>
</div>
</div>
