
<div class="container">

  <br/>

  <nav class="navbar navbar-expand-lg  fixed-top">
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--Titulo ContactMe-->
    <div id="tituloImg"></div>

    <!--Logar Registrar-->
    <div id="logarRegistrarUsuario" *ngIf="mostraLogarRegistrar()" class="d-flex align-items-center">
      <button mat-stroked-button id="btnLogin" (click)="loginClick()">Login</button>
      <button mat-stroked-button id="btnRegistrar" (click)="registrarClick()">Cadastre-se</button>
    </div>

    <!--Saudacao Usuario-->
    <div id="saudacaoUsuario" *ngIf="mostraSaudacao()" class="d-flex align-items-center">
      <span id="spnUserName"> {{UserName}}, seja bem vindo(a)</span>
      
      <!--Logout-->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item id="btnLogout" (click)="logoutClick()">Sair</button>
        </mat-menu>

      <!--Avatar Conta Usuario-->
      <div mat-card-avatar class="example-header-image" id="avatarUsuario">
        <span class="material-icons" id="spnAvatarUsuario">account_circle</span>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>

