/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


#corpo{
    background-image: url(../images/login3v9.png);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


.footer {
   position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(29, 29, 29);
    color:  white;
    text-align: center;
    padding: 2em 0em 1em;
    border-top: solid 2px #ffffff;
  }

 
