

<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data"  [formGroup]="contatoForm">
  
  
            <div class="alert alert-danger" *ngIf="errors.length > 0">
                <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                <ul>
                    <li *ngFor="let error of errors">{{ error }}</li>
                </ul>
            </div>

            <div class="alert alert-success" *ngIf="contatoCadastrado">
                <h3 id="msgCadastrandoContato">Cadastrando Contato</h3>
                <mat-progress-bar mode="determinate" value={{progress}}></mat-progress-bar>
            </div>

            <div class="alert alert-success" *ngIf="contatoAtualizado == true">
                <h3 id="msgAtualizandoContato">Atualizando Contato</h3>
                <mat-progress-bar mode="determinate" value={{progress}}></mat-progress-bar>
            </div>
  
            <div class="form-group">
                <label class="control-label" for="Nome">Nome</label>
                <input type="text" class="form-control" formControlName="nome" placeholder="Nome (abrevie sobrenomes)" maxlength="23">
            </div>

            <div class="form-group">
                <label class="control-label" for="Numero">Numero</label>
                <input type="text" class="form-control" formControlName="numero" placeholder="(   ) _____-____" mask="(00) 00000-0000">
            </div>

            <div class="form-group">
                <label class="control-label" for="Email">Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Ex. pat@example.com">
            </div>

            <div class="form-group">
                <label class="control-label" for="favorito">Favorito</label>
                    <input type="checkbox"  formControlName="favorito">
            </div>

            <div class="form-group">
                <label class="control-label" for="pendenciaFinanceira">Possui pendência financeira</label>
                    <input type="checkbox"  formControlName="pendenciaFinanceira">
            </div>

            <div class="modal-footer justify-content-center">
                <div class="form-group" *ngIf="contato.id==null" (click)="addContato()">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" [disabled]="progressBarAtiva">
                    <!--<button type="button" class="btn btn-primary btn-block">Cadastrar Contato</button>-->
                </div>
    
                <div class="form-group" *ngIf="contato.id!=null" (click)="editContato()">
                    <input type="submit" value="Atualizar" class="btn btn-primary" [disabled]="progressBarAtiva">
                </div>
            </div>
            
  
        </form>
    </div>
  </div>
  