
/*Para tirar as setas do input type = number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input[type='checkbox'] { margin-left: 10px; }

#msgCadastrandoContato{
    font-weight: 500;
}

#msgAtualizandoContato{
    font-weight: 500;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: rgb(22, 214, 138);
}

::ng-deep .mat-progress-bar-buffer {
    background: #ffffff;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}