
#homeContainer{
  margin-top: 7em;
  margin-bottom: 2em;
}

#homeApresentacao{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.1em;
}

#homeApresentacao > p{
  font-weight: bold;
}

#homeImg{
    background-image: url(../../../images/hero-img.png);
    background-repeat: no-repeat;
  background-size: 539px 438px;
  width: 539px;
  height: 438px;
}