
<div id="homeContainer" class="container">
    <div class="row">
        <div id="homeApresentacao" class="col-5 text-justify">
            <br><br><br><br>
            <h1>Gerencie sua agenda de contatos</h1>
            <h3>Com a ContactME, você consegue gerenciar seus contatos de um jeito prático e fácil.</h3>
            <p>✔ Cadastre seus contatos favoritos</p>
            <p>✔ Consulte sua lista sempre que precisar</p>
            <p>✔ Agende eventos e reuniões</p>
            <p>✔ Não perca nenhum compromisso importante</p>
        </div>
        <div class="col-1"></div>
        <div class="col-6" id="homeImg"></div>
    </div>
</div>